* {
  @extend %poppins;
  transition: 0.2s;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-weight: 600;
  font-size: 55px;
  line-height: 70px;
  color: white;
  @include breakpoint (laptop) {
    font-size: 28px;
    line-height: 35px;
  }
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 79px;
  @include breakpoint (laptop) {
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  color: $magenta;
  @include breakpoint (laptop) {
    font-size: 26px;
    line-height: 36px;
  }
  @include breakpoint (mobileonly) {
    font-size: 14px;
    line-height: 17px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: $grey;
  // @include breakpoint (laptop) {
  //   font-size: 14px;
  //   line-height: 18px;
  // }
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

h6 {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

p {
  font-weight: 300px;
  font-size: 20px;
  line-height: 30px;
  font-size: black;
  @include breakpoint (laptop) {
    font-size: 18px;
    line-height: 24px;
  }
}

body {
  background-color: white;
}

ul {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.bg-magenta {
  background-color: $magenta;
}

.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: $header-height;
  &.scrolled {
    background-color: $magenta;
    height: $header-height-scrolled;
    .site-branding {
      padding: 10px 0;
    }
    .custom-logo-link {
      height: 100%;
      transition: none;
    }
    .custom-logo {
      height: 100%;
      width: auto;
    }
    .main-navigation .menu-toggle {
      height: $header-height-scrolled;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .site-branding {
    display: flex;
    align-items: center;
    height: 100%;
    transition: none;
    @include breakpoint(phablet) {
      transition: 0.2s;
      &.active {
        margin-left: -267px;
      }
    }
  }
  .main-navigation {
    transition: 0.3s;
    @include breakpoint (laptop) {
      position: absolute;
      width: 40%;
      right: -40%;
      height: 100vh;
      &.active {
        right: 0;
        .menu-toggle {
          i {
            color: $lime;
          }
        }
      }
    }
    @include breakpoint (phablet) {
      width: 70%;
      right: -70%;
    }
    .nav-container {
      display: flex;
      align-items: center;
      height: 100%;
      @include breakpoint (laptop) {
        flex-direction: column;
        align-items: flex-start;
        background-color: $lime;
      }
    }
    .menu-menu-1-container {
      display: flex;
      align-items: center;
      @include breakpoint (laptop) {
        align-items: flex-start;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      @include breakpoint (laptop) {
        padding-top: 10px;
      }
      a {
        font-weight: 600;
        color: white;
        font-size: 18px;
        &:hover {
          color: $lime;
        }
        @include breakpoint (laptop) {
          color: $magenta;
          font-size: 32px;
          &:hover {
            color: white;
          }
        }
        @include breakpoint (tablet) {
          font-size: 18px;
        }
      }
    }
    li {
      display: inline-block;
      padding: 15px;
      @include breakpoint (laptop) {
        display: list-item;
        padding: 5px 15px;
      }
    }
    .download-link {
      padding: 0 15px;
      &:last-of-type {
        padding-right: 0;
      }
      @include breakpoint (laptop) {
        padding: 5px 15px;
      }
      img {
        width: 120px;
        @include breakpoint (laptop) {
          width: 180px;
        }
      }
    }
    .menu-toggle {
      display: none;
      position: absolute;
      left: -43px;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      i {
        font-size: 40px;
        line-height: 40px;
        color: white;
      }
      @include breakpoint (laptop) {
        display: block;
        height: $header-height;
      }
    }
  }
}

.section {
  position: relative;
}

.button {
  @include button-fill-hover($lime, $magenta);
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  @include breakpoint (tablet) {
    font-size: 14px;
  }
}

.wpforms-field {
  height: 68px!important;
}

.wpforms-confirmation-container-full {
  background-color: $lime!important;
  border-color: $lime!important;
}

.site-footer {
  background-image: url("/wp-content/themes/dialsmart/assets/dialsmarthero.png");
  background-size: cover;
  background-position: bottom;
}
