%flex-center {
  justify-content: center;
  align-items: center;
}

%button {
  @include button-fill-hover($lime, $magenta);
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  height: $form-input-height;
  @include breakpoint (tablet) {
    font-size: 14px;
  }
}
