#benefits {
  h2 {
    color: $lime;
  }
  h4 {
    line-height: 24px;
    margin: 0;
  }
}

.benefits-title {
  text-align: center;
}

.benefits-tab {
  display: flex;
  @extend %flex-center;
  position: relative;
  padding: 40px 0;
  margin: 0 -15px;
  cursor: pointer;
  .mobile {
    display: none;
  }
  @include breakpoint (tablet) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  &.first {
    background-color: $lime;
    &:hover {
      background-color: darken($lime, 5%);
    }
  }
  &.second {
    background-color: white;
    &:hover {
      background-color: darken(white, 5%);
    }
  }
  .background-letter {
    position: absolute;
    font-weight: 600;
    font-size: 72px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    opacity: 0.15;
  }
}

.benefits-tab-content {
  flex-wrap: nowrap;
  overflow-x: hidden;
  &.second-active {
    .first {
      margin-left: -100vw;
    }
  }
}
.benefits-tab-slide {
  transition: 0.4s;
  padding-top: 40px;
  padding-bottom: 40px;
  &.first {
    background-color: $lime;
  }
  &.second {
    background-color: white;
  }
}
.benefits-tab-slide-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  .image {
    flex-basis: 70%;
    display: flex;
    @extend %flex-center;
    img {
      max-height: 90px;
    }
  }
  .text {
    flex-basis: 30%;
    padding: 10px 0;
  }
}
