#contact {
  padding-top: 100px;
  padding-bottom: 100px;
  @include breakpoint (laptop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h2 {
    color: $magenta;
  }
  p {
    margin: 0;
  }
  .wpforms-container {
    margin: 0;
  }
  .wpforms-field {
    display: flex;
    flex-wrap: wrap;
  }
  .wpforms-field-label {
    flex-basis: calc(25% - 10px);
    flex-shrink: 0;
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $magenta;
    color: white;
    height: 50px;
    @include breakpoint (phablet) {
      flex-basis: 40%;
      font-size: 14px;
    }
  }
  .wpforms-required-label {
    display: none;
  }
  .wpforms-submit-container {
    text-align: center;
  }
  input {
    border-color: $lime;
    height: $form-input-height;
    flex-basis: 75%;
    flex-shrink: 0;
    @include breakpoint (phablet) {
      flex-basis: 60%;
    }
  }
  button[type="submit"] {
    @extend %button;
  }
}

.contact-title {
  text-align: center;
}

.contact-download {
  height: 100%;
  display: flex;
  align-items: center;
  @include breakpoint (laptop) {
    padding: 40px 0;
  }
  img {
    max-width: 100%;
  }
}

.contact-download-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.contact-form-title {
  @include breakpoint (laptop) {
    text-align: center;
    padding: 20px 0;
  }
  @include breakpoint (phablet) {
    padding-top: 0;
  }
}
