#download {
  background-color: $offwhite;
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint (laptop) {
    padding-bottom: 140px;
  }
}

.download-image {
  position: relative;
  @include breakpoint (laptop) {
    text-align: center;
  }
  img {
    width: 100%;
    @include breakpoint (laptop) {
      width: 276px;
      position: absolute;
      left: 50%;
      transform: translateX(calc(-50% + 20px));
    }
    @include breakpoint (phablet) {
      width: 188px;
      transform: translateX(calc(-50% + 10px));
      top: 47px;
    }
  }
}

.download-text {
  padding-top: 70px;
  @include breakpoint (laptop) {
    padding-top: 0;
  }
}

.download-buttons {
  display: flex;
  img {
    width: 100%;
    @include breakpoint (tablet) {
      width: 70%;
    }
    @include breakpoint (phablet) {
      width: 85%;
    }
  }
  .button-container {
    padding-right: 30px;
    @include breakpoint (tablet) {
      padding: 0;
    }
    @include breakpoint (tablet) {
      flex-basis: 50%;
      text-align: center;
    }
  }
}
