.site-info {
  text-align: center;
  padding: 30px 0;
  img {
    padding-bottom: 20px;
  }
  h6 {
    color: white;
    margin: 0l
  }
  a {
    color: white;
    &:hover {
      color: $lime;
    }
  }
}
