#hero {
  background-size: cover;
  height: 75vh;
  overflow: hidden;
  @include breakpoint (tablet) {
    height: initial;
  }
  // @media (max-width: 812px) and (orientation: landscape) {
  //   height: 100vh;
  // }
  // @include breakpoint (mobileonly) {
  //   height: 100vh;
  // }
  // @media (max-height: 360px) and (orientation: landscape) {
  //   height: 120vh;
  // }
  .jarallax-img {
    @include breakpoint (1024px) {
      display: none;
    }
  }
  .row {
    height: 100%;
  }
  >.row {
    @media (min-width: 1025px) {
      background: none!important;
    }
    @include breakpoint (tablet) {
      padding-bottom: 60px;
    }
  }
  h1 {
    margin: 0;
  }
  h5 {
    font-weight: 300;
    font-size: 16px;
    color: white;
    margin: 40px 0;
  }
  a {
    @extend %button;
    display: flex;
    @extend %flex-center;
    padding: 0 20px;
    text-transform: capitalize;
  }
}

.hero-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include breakpoint (laptop) {
    padding-top: $header-height;
  }
  @include breakpoint (tablet) {
    align-items: center;
    text-align: center;
  }
}
.hero-image {
  display: flex;
  @extend %flex-center;
  padding-top: $header-height;
  @include breakpoint (laptop) {
    align-items: center;
    height: 100%;
  }
  img {
    max-width: 100%;
  }
}
