#how {
  background-color: $magenta;
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint (phablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  h2, h3 {
    color: white;
  }
}

.how-title {
  text-align: center;
  padding: 40px 0;
}

.how-section {
  height: 100%;
  display: block;
  @include breakpoint (phablet) {
    padding-bottom: 40px;
  }
  .image {
    height: 50%;
    text-align: center;
    img {
      max-width: 25%;
    }
  }
  .text {
    padding-top: 30px;
    text-align: center;
    color: white;
  }
}

.how-button {
  padding: 40px 0;
  display: flex;
  @extend %flex-center;
}
