#more {
  h2 {
    color: white;
  }
}

.more-title {
  text-align: center;
}

.more-image {
  position: relative;
  width: 100%;
  height: 100%;
  @include breakpoint (tablet) {
    display: none;
  }
  img {
    position: absolute;
    max-width: 65%;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.more-section-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

.more-section-2 {
  color: $magenta;
  padding: 70px 20px;
  @include breakpoint (phablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-icons {
  flex-basis: 33.33333333%;
  padding: 20px 0;
  display: flex;
  @extend %flex-center;
}
