#what {
  @include breakpoint (laptop) {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  h2 {
    color: $lime;
  }
}

.what-text {
  padding-top: 70px;
  padding-bottom: 70px;
}

.what-image {
  position: relative;
  height: 100%;
  width: 100%;
  @include breakpoint (laptop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    position: absolute;
    max-width: 75%;
    z-index: 10;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint (desktop) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @include breakpoint (laptop) {
      position: relative;
      top: initial;
      left: initial;
      transform: initial;
      max-width: 30%;
    }
  }
}
